<style>
#student_list * {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
#student_list tr:nth-child(odd) {
  background-color: #f1f1f1;
}
#student_list tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<div id="student_list">
  <h2>Students List</h2>
  <table>
    <tr>
      <th>Student First Name</th>
      <th>Student Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Registered Date</th>
      <th>Waitlist?</th>
      <th>Remove Student From Class</th>
    </tr>

    <tr ng-repeat="student in student_list"> 

        <td>
          <form ng-sumbit="editStudent(edit_student)"></form>
              {{student.first_name}}
              <textarea ng-model="edit_student.first_name"></textarea>
            </form>
        </td>

        <td>
          <form ng-submit="editStudent(edit_student)"></form>
            {{student.last_name}}
            <textarea ng-model="edit_student.last_name"></textarea>
          </form>
        </td>

        <td>
          <form ng-submit="editStudent(edit_student)"></form>
            {{student.email}}
            <textarea ng-model="edit_student.email"></textarea>
          </form>
        </td>

        <td>
          <form ng-submit="editStudent(edit_student)"></form>
          {{student.phone}}
            <textarea ng-model="edit_student.phone"></textarea>
          </form>
        </td>

        <td>{{student.register_date}}</td>


        <td>{{student.waitlisted}}
          <select ng-options="student.waitlisted ">
            
          </select>
        </td>


        <td></td>
      </tr>

  </table>
</div>

